h1{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: cursive;
}

*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

.whole{
	padding: 5px;
}

.content{
	font-family: cursive;
	background-color: #c6c3c5;
	padding: : 8px;
	border: 1px solid black;
	float: left;
	margin: 5px;
	padding: 0px;
	clear: right;
}

p{
	width: 20%;
	height: 25px;
	float: right;
	border-left:1px solid black;
	border-bottom : 1px solid black;
	text-align: center;
	justify-content: center;

}

.whole{
	margin: 5px;
}

@media (min-width: 992px) {
	.col-lg-4 {
    	width: 33%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {

  .col-md-6 {
    width: 50%;
  }

  .col-md-12 {
    width: 100%;
  }
}

@media (max-width: 767px) {

.col-sm-12{
    width: 100%;
}










